input {
  background: transparent;
  color: aliceblue;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 26px;
  border: none;
}

input[type='submit'] {
  border: 1px solid rgb(196, 22, 138);
  border-radius: 2px;
}

input[type=text] {
  border-bottom: 1px solid rgb(196, 22, 138);
  height: 30px;
  padding: 7px 0px 1px 0px;
}

input[type=text]:focus {
  outline: transparent;
}

input[type=text]:active {
  background: transparent;
}


input[type='button'] {
  margin-top: 30px;
  border: 1px solid rgb(196, 22, 138);
  border-radius: 2px;
}

input[type='button']:hover {
  cursor: pointer;
}

input[type=submit]:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
}


select {
  width: 100px;
  border: none;
  background-color: transparent;
  color:rgb(243, 234, 240);
  font-size: 26px;
  font-family: 'Alumni Sans', sans-serif;
}

option {
  background-color: rgb(26, 21, 24);
  border: none;
}


.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

.menu_wrapper {
  width: 100%;
  padding: 4rem;
  box-sizing: border-box;
}

.menu {
  width: 100%;
}

.table {
  width: 100%;
  padding: 4rem 7rem 0rem 2rem;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 7px 0px 1px 0px;
}

.border_pink {
  border-bottom: 1px solid rgb(196, 22, 138);
}

.border_grey {
  border-bottom: 1px solid rgb(83, 70, 79);
}
