select {
  width: 150px;
  border: none;
  background-color: transparent;
  font-size: 16px;
}


.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

.menu_wrapper {
  width: 100%;
  padding: 2rem;
  background: rgb(90, 124, 107);
  box-sizing: border-box;
}

.menu {
  width: 80%;
}

.table {
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px;
}
