body {
  margin: 0;
  font-family: 'Alumni Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background: rgb(33, 31, 58);
  color: aliceblue;
  font-size: 26px;
}


